<div class="message-actions">
  <div class="message-author">
    <div class="avatar inline-block"><%= message.user.email[0].capitalize %></div>
    <div class="message-text inline-block">
      <span class="message-name"><%= message.user.email %></span>
      <span class="message-date">
        <%= message.created_at %></span><br>
      <span class="message-body"><%= message.body %></span>
    </div>
  </div>
</div>
