<div class="message-actions">
  <div class="message-author">
    <img alt="User Name" src="img/user5.jpg">
    <div class="message-text inline-block">
      <span class="message-name"><%= message.user.email %></span>
      <span class="message-date">
        <%= message.created_at %></span><br>
      <span class="message-body"><%= message.body %></span>
    </div>
  </div>
</div>
