
    <!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Rails Slack </h1>
      </div>
    </div>
  </div>
</div>

    <div class="section">
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <!-- Product -->
        <div class="product-detail-info">

        </div>
        <!-- End Product -->
      </div>
      <div class="col-sm-9">
        <div class="  product-detail-info">
           
      </div>
    </div>
  </div>
  </div>
