<!-- Page Title -->
<div class="section section-breadcrumbs" style="padding: 10px 0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align: left">Rails Slack
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="product-detail-info rooms">
  <h4 style="padding-left: 15px;">Channels</h4>
  <div class="new_room_form" style="display: none;">
  <%= render 'form', room: Room.new %>
  </div>
  <div class="rooms list-group">
    <%= render :partial => "room_items", :locals => {:rooms => @rooms} %>
  </div>
</div>
<div class="  product-detail-info messages">
<div class="messages_list">
  <% @messages.each do |message| %>
  <%= render :partial => "messages/message_item", :locals => {:message => message} %>
  <% end %>
</div>
<div class="new_message"><%= render 'messages/form', message: Message.new %></div>
</div>
